.fondo {
    height: 100vh;
}

.grid {

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 210px 210px;
    justify-content: center;
    align-content: center;
    grid-gap: 50px 20px;
}