.contenido {

    text-align: center;

    .video {
       iframe{
        height: 460px;
        width: 100%;
       }
        
    }

    .formulario {
        textarea {
            width: 300px;
            height: 100px;
        }
    }
}

/*agrego el alineado del mapa*/
.mapa {
    text-align: center;
    iframe{

            width: 300px;
            height: 300px;
    }
}


.texto {
    text-align: center;
}