footer {

    line-height: 50px;
    background-color: rgb(221, 192, 154);
    width: 100%;

    .pie p {
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
}