$bg-dark: #e66916;
@font-face {
    font-family: 'CedarvilleCursive-Regular';
    src: url('../assent/font/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: 'Satisfy-Regular';
    src: url('../assent/font/Satisfy-Regular.ttf');
}